<footer>
    <div class="navbar-fixed">
        <nav class="z-depth-0 white col s12">
                <ul class="colorfooter">
                  <li>
                    <a class="blue-text">blue</a>
                  </li>
                  <p class="slash">
                    /
                  </p>
                  <li>
                    <a class="green-text">green</a>
                  </li>
                  <p class="slash">
                    /
                  </p>
                    <li>
                        <a class="yellow-text">yellow</a>
                    </li>
                    <p class="slash">
                      /
                    </p>
                    <li>
                      <a class="red-text">red</a>
                    </li>
                </ul>
    </nav>
</div>
</footer>

<script type="text/javascript">

  $(".blue-text").on("click", function() {
    $(".row").css("background", "#2969B0");
    $("body").css("color", "white");
  });
  $(".green-text").on("click", function() {
    $(".row").css("background", "#00A885");
    $("body").css("color", "black");
  });

  $(".yellow-text").on("click", function() {
      $(".row").css("background", "#ffeb3b");
      $("body").css("color", "black");
  });

  $(".red-text").on("click", function() {
    $(".row").css("background", "#D14841");
    $("body").css("color", "white");
  });

</script>
