<section class="full">
    <div class="slide">
        <br>
        <br>
        <h1 class="center-align">CAMJR WEBSITE</h1>
        <h2 class="center-align">
            Couteau Suisse du web
        </h2>
        <p class="center-align">
            Actuellement étudiant à la Wild Code School sur le site de La loupe du 5 septembre 2016 jusqu'au 3 février 2017.
            <br>
            Je suis ouvert à toute opportunité de stage de fin d'études dans ce domaine.
            <br>
            Mon objectif professionnel est de devenir développeur Web. Je suis un grand passionné de création numérique ( création de site web, photographie, vidéographie, graphisme...)
        </p>
        <div class="center-align">
            <img src="assets/img/robot.png" alt="robot"/>
        </div>
    </div>

    <div class="slide">
      <div id="film_roll">
        <div>
          <a><img src="assets/img/robot.png"> </a>
        </div>
        <div>
          <a><img src="assets/img/robot.png"> </a>
        </div>
        <div>
          <a><img src="assets/img/robot.png"> </a>
        </div>
        <div>
          <a><img src="assets/img/robot.png"> </a>
        </div>
      </div>
    </div>

</section>

<div class="clear"></div>

<script type="text/javascript">
    $(document).alton({
        fullSlideContainer: 'full', // Tell Alton the full height container
        singleSlideClass: 'slide', // Tell Alton the full height slide class
        useSlideNumbers: true, // Set to false if you don't want to use pagination
        slideNumbersBorderColor: 'black', // Set the outside color of the pagination items (also used for active)
        slideNumbersColor: 'transparent', // Set the inner color of the pagination items (not active)
        bodyContainer: 'pageWrapper', // Tell Alton the body class
    });
</script>
