<div id="fullpage">
    <div class="section">
        <h1 class="center-align">CAMJR WEBSITE</h1>
        <h2 class="center-align">
            Couteau Suisse du web
        </h2>
        <div class="center-align">
            <a class="fa fa-linkedin fa-3x socialogog" aria-hidden="true"></a>
            <a class="fa fa-youtube fa-3x socialogog" aria-hidden="true"></a>
            <a class="fa fa-github fa-3x socialogog" aria-hidden="true"></a>
        </div>

        <div class="center-align">
            <p>
                USE YOUR KEYBOARD
            </p>
            <div class="row">
                <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
            </div>
            <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>

        </div>

    </div>

    <div class="section">
        <p class="center-align">
            Je suis passionné par le web. Mon objectif professionnel est de devenir développeur Web.
            <br>
            Actuellement étudiant à la Wild Code School sur le site de La loupe du 5 septembre 2016 jusqu'au 3 février 2017.
            <br>
            Je suis ouvert à toute opportunité.
        </p>
        <div class="center-align">
            <i class="fa fa-android fa-4x" aria-hidden="true"></i>
        </div>

    </div>

    <div class="section">
        <div class="progress col s7 offset-s3 ">
            <div class="determinate" style="width: 90%">
                <p class="progress_titles">HTML/CSS</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3">
            <div class="determinate" style="width: 85%">
                <p class="progress_titles">javascript</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3">
            <div class="determinate" style="width: 75%">
                <p class="progress_titles">Angular</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3">
            <div class="determinate" style="width: 85%">
                <p class="progress_titles">Suite Adobe</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3 ">
            <div class="determinate" style="width: 90%">
                <p class="progress_titles">HTML/CSS</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3">
            <div class="determinate" style="width: 85%">
                <p class="progress_titles">javascript</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3">
            <div class="determinate" style="width: 75%">
                <p class="progress_titles">Angular</p>
            </div>
        </div>

        <div class="progress col s7 offset-s3">
            <div class="determinate" style="width: 85%">
                <p class="progress_titles">Suite Adobe</p>
            </div>
        </div>
    </div>

    <div class="section">

        <div class="slide">
          <h2 class="center-align">Movember - Hackathon 31H</h2>

            <div class="center-align">
                <img class="main_image_project" src="assets/img/hopitallaloupe.png">
            </div>
                <p class="center-align">Création d'une application web permettant de poster votre plus belle moustache dans le cadre du mouvement “movember”.
                </p>
                <div class="center-align">
                  <a class="fa fa-github fa-3x" href="https://github.com/CamJr/Hackathon-Movember"></a>
                </div>
            </div>

            <div class="slide">
              <h2 class="center-align">Centre Hospitalier de La Loupe</h2>

                <div class="center-align">
                    <img class="main_image_project" src="assets/img/hopitallaloupe.png">
                </div>
                    <p class="center-align">Création d'un site administrable pour l'hôpital de La Loupe. Le site web à la possibilité d'ajouter, de modifier, de supprimer un contenu (article, contact...)
                    </p>
                    <div class="center-align">
                      <a class="center-align fa fa-github fa-3x" href="https://github.com/WildCodeSchool/laloupe-0916-ch-laloupe"></a>
                </div>

                <div class="slide">
                  <h2 class="center-align">Comparateuragricole.com - hackathon 24H</h2>

                    <div class="center-align">
                        <img class="main_image_project" src="assets/img/biagri.png">
                    </div>
                        <p class="center-align"> Réalisation d'un site web d'achat et de vente de produits agricoles.
                        </p>
                        <div class="center-align">
                          <a class="fa fa-github fa-3x" href="https://github.com/Jipsian/Hackathon-Biagri"></a>
                        </div>
                    </div>

                    <div class="slide">
                      <h2 class="center-align">Agreen StartUp 2016 - hackathon 48H</h2>

                        <div class="center-align">
                            <img class="main_image_project" src="assets/img/agrivideo.png">
                        </div>
                            <p class="center-align"> Création d'une plateforme web de cours en ligne autour de l'agriculture.
                            </p>
                            <div class="center-align">
                                <p class="fa fa-github fa-3x" href="https://github.com/Celine-Langlade/Agrivideo"></p>
                            </div>
                        </div>

</div>
</div>


    <div class="section">

        <div class="slide">
            <div class="photo">
                <img class="responsive-img" src="assets/img/cristal.jpg" alt="cristal"/>

            </div>
        </div>

        <div class="slide">
            <div class="photo">
                <img class="responsive-img" src="assets/img/chateau.jpg" alt="chateau"/>

            </div>
        </div>

        <div class="slide">

            <div class="photo">
                <img class="responsive-img" src="assets/img/rue.jpg" alt="rue"/>

            </div>
        </div>

        <div class="slide">

            <div class="photo">
                <img class="responsive-img" src="assets/img/river.jpg" alt="river"/>

            </div>

        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#fullpage').fullpage({navigation: true});
            $('.materialboxed').materialbox();
        });
    </script>

    <!--
<div class="clear"></div> -->
