@font-face {
    font-family: "Munro";
    src: url("//db.onlinewebfonts.com/t/7797f6229b01fd22c7f0d6a5410db009.eot");
    src: url("//db.onlinewebfonts.com/t/7797f6229b01fd22c7f0d6a5410db009.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7797f6229b01fd22c7f0d6a5410db009.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7797f6229b01fd22c7f0d6a5410db009.woff") format("woff"), url("//db.onlinewebfonts.com/t/7797f6229b01fd22c7f0d6a5410db009.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7797f6229b01fd22c7f0d6a5410db009.svg#Munro") format("svg");
}

body {
    font-family: munro;
}

.row{
  background-color: #00A885;
    margin-left: 70px;
    margin-right: 70px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 22px;
    color: black;
}

.navbar-fixed1 {
    position: relative;
     height: 0px;
    z-index: 997;
}
.fp-controlArrow.fp-next {
    right: -30px!important;
    border-width: 20px 0 20px 20px!important;
    border-color: transparent transparent transparent black!important;
}

.fp-controlArrow.fp-prev {
    left: -30px!important;
    width: 0;
    border-width: 20px 20px 20px 0!important;
    border-color: transparent black transparent transparent!important;
}
/*  main

.pagebio{
  margin-top : vh;
}

.stat{
  margin-top : 50vh;
}
*/
.socialogo{
padding: 10px
}


.clear{
  height: 150px;
}

/* footer  */

footer {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100
}


.red-text, .yellow-text, .green-text, .blue-text {
    font-size: 40px;
}

.colorfooter {
    display: flex;
    justify-content: center;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
}
.slash{
  margin-top: 2px;
}



/* media  */


@media (max-width: 600px) {
    .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;    }

      .red-text, .yellow-text, .green-text, .blue-text {
          font-size: 25px;
      }
}




/* Histogram  */


.chart {
  display: table;
  table-layout: fixed;
  width: 60%;
  max-width: 700px;
  height: 200px;
  margin: 0 auto;
  background-size: 100% 50px;
  background-position: left top;
}
.chart li {
  display: table-cell;
  vertical-align: bottom;
  height: 400px;
}
.chart span {
  margin: 0 1em;
  display: block;
  background: gold;
  animation: draw 2s ease-in-out;
}


@keyframes draw {
  0% {
    height: 0;
  }
}
